[defaults]
inventory = inventories/inventory.yml
roles_path = ./roles
host_key_checking = true
retry_files_enabled = false
stdout_callback = ansible.builtin.default
result_format = yaml
bin_ansible_callbacks = True
deprecation_warnings = False
interpreter_python = auto_silent
ask_vault_pass = True
editor = nano

[ssh_connection]
pipelining = True
